* {
  box-sizing: border-box; }

.main {
  max-width: 620px;
  margin: 0 auto;
  overflow: hidden;
  background: #514640; }
  .main .header {
    background: white;
    float: left;
    width: 40%;
    border: 1px solid #D7D7D7;
    border-right: 0;
    padding: 26px 3% 46px 3%; }
    .main .header .logo img {
      width: 100%;
      height: auto; }
    .main .header .description {
      margin-top: 36px;
      text-align: center;
      text-transform: uppercase; }
      .main .header .description .title {
        font-size: 18px; }
      .main .header .description .sub_title {
        margin-top: 9px;
        font-family: Arial, sans-serif;
        font-size: 12px;
        line-height: 17px; }
  .main .content {
    width: 60%;
    float: left;
    margin: auto 0; }
    .main .content .article {
      text-align: center;
      color: white;
      text-transform: uppercase;
      margin-top: 58.7234%; }
      .main .content .article .title {
        width: 47.31183%;
        font-size: 15px; }
      .main .content .article .main_info {
        width: 47.31183%;
        margin-top: 40px;
        font-size: 8px; }

@media (max-width: 500px) {
  .main .header {
    border: 0;
    padding: 13px 3%;
    overflow: hidden;
    float: none;
    width: 100%; }
    .main .header .logo {
      float: left;
      width: 62.76151%; }
    .main .header .description {
      padding: 15% 0 15% 3%;
      float: left;
      width: 37.23849%;
      margin: 36px auto; }
      .main .header .description .title {
        font-size: 33px;
        font-family: arial, sans-serif; }
      .main .header .description .sub_title {
        margin-top: 20%; }
  .main .content {
    padding: 13px;
    float: none;
    width: 100%; }
    .main .content .article {
      text-align: center;
      color: white;
      text-transform: uppercase;
      margin: 0 auto;
      width: 50%; }
      .main .content .article .title {
        width: 100%;
        font-size: 23px; }
      .main .content .article .main_info {
        width: 100%;
        margin-top: 20px;
        font-size: 16px; } }

@media (max-width: 450px) {
  .main .header .logo {
    width: 50%; }
  .main .header .description {
    width: 50%;
    margin: 0 auto; } }

@media (max-width: 400px) {
  .main .header {
    padding: 0 0 5% 0; }
    .main .header .logo {
      width: 100%; }
    .main .header .description {
      padding: 5% 3%;
      width: 100%;
      margin: 0 auto; }
      .main .header .description .title {
        font-size: 40px; }
      .main .header .description .sub_title {
        margin-top: 8%;
        font-size: 25px;
        line-height: 30px; } }

@media (max-width: 350px) {
  .main .header {
    padding: 0 0 5% 0; }
    .main .header .logo {
      width: 100%; }
    .main .header .description {
      padding: 5% 3%;
      width: 100%;
      margin: 0 auto; }
      .main .header .description .title {
        font-size: 40px; }
      .main .header .description .sub_title {
        margin-top: 8%;
        font-size: 25px;
        line-height: 30px; } }

@media (max-width: 300px) {
  body {
    min-width: 300px;
    width: 300px !important; } }
